@font-face {
  font-family: 'entypo';
  src: url('../fonts/entypo.eot');
  src: url('../fonts/entypo.eot?#iefix') format('embedded-opentype'),
  url('../fonts/entypo.woff') format('woff'),
  url('../fonts/entypo.ttf') format('truetype'),
  url('../fonts/entypo.svg#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}


[class^="icon-entypo-"], [class*=" icon-entypo-"] {
  font-family: entypo;
  font-style: normal;
 font-size: 1rem;
  display: inline-block;
  width: 1.1em;
  margin-right: .1em;
  text-align: center;
}




.icon-entypo-note:before { content: '\266a'; }
.icon-entypo-note-beamed:before { content: '\266b'; }
.icon-entypo-music:before { content: '🎵'; }
.icon-entypo-search:before { content: '🔍'; } 
.icon-entypo-flashlight:before { content: '🔦'; } 
.icon-entypo-mail:before { content: '\2709'; } 
.icon-entypo-heart:before { content: '\2665'; }
.icon-entypo-heart-empty:before { content: '\2661'; }
.icon-entypo-star:before { content: '\2605'; } 
.icon-entypo-star-empty:before { content: '\2606'; } 
.icon-entypo-user:before { content: '👤'; }
.icon-entypo-users:before { content: '👥'; } 
.icon-entypo-user-add:before { content: '\e700'; }
.icon-entypo-video:before { content: '🎬'; }
.icon-entypo-picture:before { content: '🌄'; } 
.icon-entypo-camera:before { content: '📷'; } 
.icon-entypo-layout:before { content: '\268f'; } 
.icon-entypo-menu:before { content: '\2630'; } 
.icon-entypo-check:before { content: '\2713'; } 
.icon-entypo-cancel:before { content: '\2715'; }
.icon-entypo-cancel-circled:before { content: '\2716'; }
.icon-entypo-cancel-squared:before { content: '\274e'; }
.icon-entypo-plus:before { content: '\2b'; } 
.icon-entypo-plus-circled:before { content: '\2795'; } 
.icon-entypo-plus-squared:before { content: '\229e'; }
.icon-entypo-minus:before { content: '\2d'; } 
.icon-entypo-minus-circled:before { content: '\2796'; } 
.icon-entypo-minus-squared:before { content: '\229f'; } 
.icon-entypo-help:before { content: '\2753'; }
.icon-entypo-help-circled:before { content: '\e704'; } 
.icon-entypo-info:before { content: '\2139'; }
.icon-entypo-info-circled:before { content: '\e705'; } 
.icon-entypo-back:before { content: '🔙'; } 
.icon-entypo-home:before { content: '\2302'; } 
.icon-entypo-link:before { content: '🔗'; } 
.icon-entypo-attach:before { content: '📎'; } 
.icon-entypo-lock:before { content: '🔒'; } 
.icon-entypo-lock-open:before { content: '🔓'; } 
.icon-entypo-eye:before { content: '\e70a'; } 
.icon-entypo-tag:before { content: '\e70c'; } 
.icon-entypo-bookmark:before { content: '🔖'; }
.icon-entypo-bookmarks:before { content: '📑'; }
.icon-entypo-flag:before { content: '\2691'; }
.icon-entypo-thumbs-up:before { content: '👍'; } 
.icon-entypo-thumbs-down:before { content: '👎'; } /* '\1f44e' */
.icon-entypo-download:before { content: '📥'; } /* '\1f4e5' */
.icon-entypo-upload:before { content: '📤'; } /* '\1f4e4' */
.icon-entypo-upload-cloud:before { content: '\e711'; } /* '' */
.icon-entypo-reply:before { content: '\e712'; } /* '' */
.icon-entypo-reply-all:before { content: '\e713'; } /* '' */
.icon-entypo-forward:before { content: '\27a6'; } /* '➦' */
.icon-entypo-quote:before { content: '\275e'; } /* '❞' */
.icon-entypo-code:before { content: '\e714'; } /* '' */
.icon-entypo-export:before { content: '\e715'; } /* '' */
.icon-entypo-pencil:before { content: '\270e'; } /* '✎' */
.icon-entypo-feather:before { content: '\2712'; } /* '✒' */
.icon-entypo-print:before { content: '\e716'; } /* '' */
.icon-entypo-retweet:before { content: '\e717'; } /* '' */
.icon-entypo-keyboard:before { content: '\2328'; } /* '⌨' */
.icon-entypo-comment:before { content: '\e718'; } /* '' */
.icon-entypo-chat:before { content: '\e720'; } /* '' */
.icon-entypo-bell:before { content: '🔔'; } /* '\1f514' */
.icon-entypo-attention:before { content: '\26a0'; } /* '⚠' */
.icon-entypo-alert:before { content: '💥'; } /* '\1f4a5' */
.icon-entypo-vcard:before { content: '\e722'; } /* '' */
.icon-entypo-address:before { content: '\e723'; } /* '' */
.icon-entypo-location:before { content: '\e724'; } /* '' */
.icon-entypo-map:before { content: '\e727'; } /* '' */
.icon-entypo-direction:before { content: '\27a2'; } /* '➢' */
.icon-entypo-compass:before { content: '\e728'; } /* '' */
.icon-entypo-cup:before { content: '\2615'; } /* '☕' */
.icon-entypo-trash:before { content: '\e729'; } /* '' */
.icon-entypo-doc:before { content: '\e730'; } /* '' */
.icon-entypo-docs:before { content: '\e736'; } /* '' */
.icon-entypo-doc-landscape:before { content: '\e737'; } /* '' */
.icon-entypo-doc-text:before { content: '📄'; } /* '\1f4c4' */
.icon-entypo-doc-text-inv:before { content: '\e731'; } /* '' */
.icon-entypo-newspaper:before { content: '📰'; } /* '\1f4f0' */
.icon-entypo-book-open:before { content: '📖'; } /* '\1f4d6' */
.icon-entypo-book:before { content: '📕'; } /* '\1f4d5' */
.icon-entypo-folder:before { content: '📁'; } /* '\1f4c1' */
.icon-entypo-archive:before { content: '\e738'; } /* '' */
.icon-entypo-box:before { content: '📦'; } /* '\1f4e6' */
.icon-entypo-rss:before { content: '\e73a'; } /* '' */
.icon-entypo-phone:before { content: '📞'; } /* '\1f4de' */
.icon-entypo-cog:before { content: '\2699'; } /* '⚙' */
.icon-entypo-tools:before { content: '\2692'; } /* '⚒' */
.icon-entypo-share:before { content: '\e73c'; } /* '' */
.icon-entypo-shareable:before { content: '\e73e'; } /* '' */
.icon-entypo-basket:before { content: '\e73d'; } /* '' */
.icon-entypo-bag:before { content: '👜'; } /* '\1f45c' */
.icon-entypo-calendar:before { content: '📅'; } /* '\1f4c5' */
.icon-entypo-login:before { content: '\e740'; } /* '' */
.icon-entypo-logout:before { content: '\e741'; } /* '' */
.icon-entypo-mic:before { content: '🎤'; } /* '\1f3a4' */
.icon-entypo-mute:before { content: '🔇'; } /* '\1f507' */
.icon-entypo-sound:before { content: '🔊'; } /* '\1f50a' */
.icon-entypo-volume:before { content: '\e742'; } /* '' */
.icon-entypo-clock:before { content: '🕔'; } /* '\1f554' */
.icon-entypo-hourglass:before { content: '\23f3'; } /* '⏳' */
.icon-entypo-lamp:before { content: '💡'; } /* '\1f4a1' */
.icon-entypo-light-down:before { content: '🔅'; } /* '\1f505' */
.icon-entypo-light-up:before { content: '🔆'; } /* '\1f506' */
.icon-entypo-adjust:before { content: '\25d1'; } /* '◑' */
.icon-entypo-block:before { content: '🚫'; } /* '\1f6ab' */
.icon-entypo-resize-full:before { content: '\e744'; } /* '' */
.icon-entypo-resize-small:before { content: '\e746'; } /* '' */
.icon-entypo-popup:before { content: '\e74c'; } /* '' */
.icon-entypo-publish:before { content: '\e74d'; } /* '' */
.icon-entypo-window:before { content: '\e74e'; } /* '' */
.icon-entypo-arrow-combo:before { content: '\e74f'; } /* '' */
.icon-entypo-down-circled:before { content: '\e758'; } /* '' */
.icon-entypo-left-circled:before { content: '\e759'; } /* '' */
.icon-entypo-right-circled:before { content: '\e75a'; } /* '' */
.icon-entypo-up-circled:before { content: '\e75b'; } /* '' */
.icon-entypo-down-open:before { content: '\e75c'; } /* '' */
.icon-entypo-left-open:before { content: '\e75d'; } /* '' */
.icon-entypo-right-open:before { content: '\e75e'; } /* '' */
.icon-entypo-up-open:before { content: '\e75f'; } /* '' */
.icon-entypo-down-open-mini:before { content: '\e760'; } /* '' */
.icon-entypo-left-open-mini:before { content: '\e761'; } /* '' */
.icon-entypo-right-open-mini:before { content: '\e762'; } /* '' */
.icon-entypo-up-open-mini:before { content: '\e763'; } /* '' */
.icon-entypo-down-open-big:before { content: '\e764'; } /* '' */
.icon-entypo-left-open-big:before { content: '\e765'; } /* '' */
.icon-entypo-right-open-big:before { content: '\e766'; } /* '' */
.icon-entypo-up-open-big:before { content: '\e767'; } /* '' */
.icon-entypo-down:before { content: '\2b07'; } 
.icon-entypo-left:before { content: '\2b05'; } 
.icon-entypo-right:before { content: '\27a1'; } 
.icon-entypo-up:before { content: '\2b06'; }
.icon-entypo-down-dir:before { content: '\25be'; }
.icon-entypo-left-dir:before { content: '\25c2'; } 
.icon-entypo-right-dir:before { content: '\25b8'; } /* '▸' */
.icon-entypo-up-dir:before { content: '\25b4'; } /* '▴' */
.icon-entypo-down-bold:before { content: '\e4b0'; } /* '' */
.icon-entypo-left-bold:before { content: '\e4ad'; } /* '' */
.icon-entypo-right-bold:before { content: '\e4ae'; } /* '' */
.icon-entypo-up-bold:before { content: '\e4af'; } /* '' */
.icon-entypo-down-thin:before { content: '\2193'; } /* '↓' */
.icon-entypo-left-thin:before { content: '\2190'; } /* '←' */
.icon-entypo-right-thin:before { content: '\2192'; } /* '→' */
.icon-entypo-up-thin:before { content: '\2191'; } /* '↑' */
.icon-entypo-ccw:before { content: '\27f2'; } /* '⟲' */
.icon-entypo-cw:before { content: '\27f3'; } /* '⟳' */
.icon-entypo-arrows-ccw:before { content: '🔄'; } /* '\1f504' */
.icon-entypo-level-down:before { content: '\21b3'; } /* '↳' */
.icon-entypo-level-up:before { content: '\21b0'; } /* '↰' */
.icon-entypo-shuffle:before { content: '🔀'; } /* '\1f500' */
.icon-entypo-loop:before { content: '🔁'; } /* '\1f501' */
.icon-entypo-switch:before { content: '\21c6'; } /* '⇆' */
.icon-entypo-play:before { content: '\25b6'; } /* '▶' */
.icon-entypo-stop:before { content: '\25a0'; } /* '■' */
.icon-entypo-pause:before { content: '\2389'; } /* '⎉' */
.icon-entypo-record:before { content: '\26ab'; } /* '⚫' */
.icon-entypo-to-end:before { content: '\23ed'; } /* '⏭' */
.icon-entypo-to-start:before { content: '\23ee'; } /* '⏮' */
.icon-entypo-fast-forward:before { content: '\23e9'; } /* '⏩' */
.icon-entypo-fast-backward:before { content: '\23ea'; } /* '⏪' */
.icon-entypo-progress-0:before { content: '\e768'; } /* '' */
.icon-entypo-progress-1:before { content: '\e769'; } /* '' */
.icon-entypo-progress-2:before { content: '\e76a'; } /* '' */
.icon-entypo-progress-3:before { content: '\e76b'; } /* '' */
.icon-entypo-target:before { content: '🎯'; } /* '\1f3af' */
.icon-entypo-palette:before { content: '🎨'; } /* '\1f3a8' */
.icon-entypo-list:before { content: '\e005'; } /* '' */
.icon-entypo-list-add:before { content: '\e003'; } /* '' */
.icon-entypo-signal:before { content: '📶'; } /* '\1f4f6' */
.icon-entypo-trophy:before { content: '🏆'; } /* '\1f3c6' */
.icon-entypo-battery:before { content: '🔋'; } /* '\1f50b' */
.icon-entypo-back-in-time:before { content: '\e771'; } /* '' */
.icon-entypo-monitor:before { content: '💻'; } /* '\1f4bb' */
.icon-entypo-mobile:before { content: '📱'; } /* '\1f4f1' */
.icon-entypo-network:before { content: '\e776'; } /* '' */
.icon-entypo-cd:before { content: '💿'; } /* '\1f4bf' */
.icon-entypo-inbox:before { content: '\e777'; } /* '' */
.icon-entypo-install:before { content: '\e778'; } /* '' */
.icon-entypo-globe:before { content: '🌎'; } /* '\1f30e' */
.icon-entypo-cloud:before { content: '\2601'; } /* '☁' */
.icon-entypo-cloud-thunder:before { content: '\26c8'; } /* '⛈' */
.icon-entypo-flash:before { content: '\26a1'; } /* '⚡' */
.icon-entypo-moon:before { content: '\263d'; } /* '☽' */
.icon-entypo-flight:before { content: '\2708'; } /* '✈' */
.icon-entypo-paper-plane:before { content: '\e79b'; } /* '' */
.icon-entypo-leaf:before { content: '🍂'; } /* '\1f342' */
.icon-entypo-lifebuoy:before { content: '\e788'; } /* '' */
.icon-entypo-mouse:before { content: '\e789'; } /* '' */
.icon-entypo-briefcase:before { content: '💼'; } /* '\1f4bc' */
.icon-entypo-suitcase:before { content: '\e78e'; } /* '' */
.icon-entypo-dot:before { content: '\e78b'; } /* '' */
.icon-entypo-dot-2:before { content: '\e78c'; } /* '' */
.icon-entypo-dot-3:before { content: '\e78d'; } /* '' */
.icon-entypo-brush:before { content: '\e79a'; } /* '' */
.icon-entypo-magnet:before { content: '\e7a1'; } /* '' */
.icon-entypo-infinity:before { content: '\221e'; } /* '∞' */
.icon-entypo-erase:before { content: '\232b'; } /* '⌫' */
.icon-entypo-chart-pie:before { content: '\e751'; } /* '' */
.icon-entypo-chart-line:before { content: '📈'; } /* '\1f4c8' */
.icon-entypo-chart-bar:before { content: '📊'; } /* '\1f4ca' */
.icon-entypo-chart-area:before { content: '🔾'; } /* '\1f53e' */
.icon-entypo-tape:before { content: '\2707'; } /* '✇' */
.icon-entypo-graduation-cap:before { content: '🎓'; } /* '\1f393' */
.icon-entypo-language:before { content: '\e752'; } /* '' */
.icon-entypo-ticket:before { content: '🎫'; } /* '\1f3ab' */
.icon-entypo-water:before { content: '💦'; } /* '\1f4a6' */
.icon-entypo-droplet:before { content: '💧'; } /* '\1f4a7' */
.icon-entypo-air:before { content: '\e753'; } /* '' */
.icon-entypo-credit-card:before { content: '💳'; } /* '\1f4b3' */
.icon-entypo-floppy:before { content: '💾'; } /* '\1f4be' */
.icon-entypo-clipboard:before { content: '📋'; } /* '\1f4cb' */
.icon-entypo-megaphone:before { content: '📣'; } /* '\1f4e3' */
.icon-entypo-database:before { content: '\e754'; } /* '' */
.icon-entypo-drive:before { content: '\e755'; } /* '' */
.icon-entypo-bucket:before { content: '\e756'; } /* '' */
.icon-entypo-thermometer:before { content: '\e757'; } /* '' */
.icon-entypo-key:before { content: '🔑'; } /* '\1f511' */
.icon-entypo-flow-cascade:before { content: '\e790'; } /* '' */
.icon-entypo-flow-branch:before { content: '\e791'; } /* '' */
.icon-entypo-flow-tree:before { content: '\e792'; } /* '' */
.icon-entypo-flow-line:before { content: '\e793'; } /* '' */
.icon-entypo-flow-parallel:before { content: '\e794'; } /* '' */
.icon-entypo-rocket:before { content: '🚀'; } /* '\1f680' */
.icon-entypo-gauge:before { content: '\e7a2'; } /* '' */
.icon-entypo-traffic-cone:before { content: '\e7a3'; } /* '' */
.icon-entypo-cc:before { content: '\e7a5'; } /* '' */
.icon-entypo-cc-by:before { content: '\e7a6'; } /* '' */
.icon-entypo-cc-nc:before { content: '\e7a7'; } /* '' */
.icon-entypo-cc-nc-eu:before { content: '\e7a8'; } /* '' */
.icon-entypo-cc-nc-jp:before { content: '\e7a9'; } /* '' */
.icon-entypo-cc-sa:before { content: '\e7aa'; } /* '' */
.icon-entypo-cc-nd:before { content: '\e7ab'; } /* '' */
.icon-entypo-cc-pd:before { content: '\e7ac'; } /* '' */
.icon-entypo-cc-zero:before { content: '\e7ad'; } /* '' */
.icon-entypo-cc-share:before { content: '\e7ae'; } /* '' */
.icon-entypo-cc-remix:before { content: '\e7af'; } /* '' */
.icon-entypo-github:before { content: '\f300'; } /* '' */
.icon-entypo-github-circled:before { content: '\f301'; } /* '' */
.icon-entypo-flickr:before { content: '\f303'; } /* '' */
.icon-entypo-flickr-circled:before { content: '\f304'; } /* '' */
.icon-entypo-vimeo:before { content: '\f306'; } /* '' */
.icon-entypo-vimeo-circled:before { content: '\f307'; } /* '' */
.icon-entypo-twitter:before { content: '\f309'; } /* '' */
.icon-entypo-twitter-circled:before { content: '\f30a'; } /* '' */
.icon-entypo-facebook:before { content: '\f30c'; } /* '' */
.icon-entypo-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-entypo-facebook-squared:before { content: '\f30e'; } /* '' */
.icon-entypo-gplus:before { content: '\f30f'; } /* '' */
.icon-entypo-gplus-circled:before { content: '\f310'; } /* '' */
.icon-entypo-pinterest:before { content: '\f312'; } /* '' */
.icon-entypo-pinterest-circled:before { content: '\f313'; } /* '' */
.icon-entypo-tumblr:before { content: '\f315'; } /* '' */
.icon-entypo-tumblr-circled:before { content: '\f316'; } /* '' */
.icon-entypo-linkedin:before { content: '\f318'; } /* '' */
.icon-entypo-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-entypo-dribbble:before { content: '\f31b'; } /* '' */
.icon-entypo-dribbble-circled:before { content: '\f31c'; } /* '' */
.icon-entypo-stumbleupon:before { content: '\f31e'; } 
.icon-entypo-stumbleupon-circled:before { content: '\f31f'; }
.icon-entypo-lastfm:before { content: '\f321'; }
.icon-entypo-lastfm-circled:before { content: '\f322'; } 
.icon-entypo-rdio:before { content: '\f324'; }
.icon-entypo-rdio-circled:before { content: '\f325'; }
.icon-entypo-spotify:before { content: '\f327'; }
.icon-entypo-spotify-circled:before { content: '\f328'; } 
.icon-entypo-qq:before { content: '\f32a'; } 
.icon-entypo-instagram:before { content: '\f32d'; } 
.icon-entypo-dropbox:before { content: '\f330'; } 
.icon-entypo-evernote:before { content: '\f333'; } 
.icon-entypo-flattr:before { content: '\f336'; } 
.icon-entypo-skype:before { content: '\f339'; } 
.icon-entypo-skype-circled:before { content: '\f33a'; } 
.icon-entypo-renren:before { content: '\f33c'; } 
.icon-entypo-sina-weibo:before { content: '\f33f'; } 
.icon-entypo-paypal:before { content: '\f342'; } 
.icon-entypo-picasa:before { content: '\f345'; } 
.icon-entypo-soundcloud:before { content: '\f348'; } 
.icon-entypo-mixi:before { content: '\f34b'; } 
.icon-entypo-behance:before { content: '\f34e'; } 
.icon-entypo-google-circles:before { content: '\f351'; } 
.icon-entypo-vkontakte:before { content: '\f354'; } 
.icon-entypo-smashing:before { content: '\f357'; }
.icon-entypo-sweden:before { content: '\f601'; } 
.icon-entypo-db-shape:before { content: '\f600'; }
.icon-entypo-logo-db:before { content: '\f603'; } 