@charset "UTF-8";

/*------------------------------------------------------------------
[Master Stylesheet]

Project:    Caravita HTML
Version:    1.0
Last change:    20/02/16
Assigned to:    Octavian Munteanu
Primary use:    Multi-Purpose 
-------------------------------------------------------------------*/


/*------------------------------------------------------------------

[Table of contents]

1.  COMMON STYLE
        1.1  Colors
        1.2  Typography
        1.3  Blockquote
        1.4  Images
        1.5  Forms
        1.6  Background Effect
        1.7  Shadows
        1.8  Zoom
        1.9  Progress Bar
        1.10 Overlay
        1.11 Gaps, Margin and Padding
        1.12 Icons
2.  BACKGROUNDS
        2.1  Index-1
        2.2  Index-3
        2.3  Index-4
        2.4  Index-5
        2.5  Index-6
        2.6  Index-8
        2.7  Index-9
        2.8  Index-12
        2.9  Index-13
        2.10 Index-16
        2.11  Background Animation
3.  ELEMENTS
        3.1  Basic
        3.2  Header
        3.3  Container Wrap
        3.4  Vertical Center
        3.5  Feature Box
        3.6  Grid
        3.7  Brands
        3.8  Team
        3.9  Steps
        3.10 Service Box
        3.11 Animation
        3.12 Tabs
        3.13 Pricing
        3.14 Blog
        3.15 Portfolio
4.  SIDEBAR
        4.1  Search Widget
        4.2  Menu Widget
        4.3  Tags Widget
        4.4  Comments
        4.5  Posts

5.  AGENCY
6.  HOTEL
7.  SHOP
8.  CONFERENCE
9.  TRAVEL
10. DJ
11. EVENTS
12. FITNESS
13. FOOTER
14. MISCELLANEOUS
15. DEMO
16. RESPONSIVE


-------------------------------------------------------------------*/


/* 1. COMMON STYLE
   ----------------------------- */


/* ===1.1 Colors=== */

.backgroun-red {
    background: #0031cf!important;
}

.backgroun-purple {
    background: #9C27B0!important;
}

.backgroun-blue {
    background: #2196F3!important;
}

.text-white,
.text-white h1,
.text-white h2,
.text-white h3,
.text-white h4,
.text-white h5,
.text-white a {
    color: #fff
}

.text-black,
.text-black h1,
.text-black h2,
.text-black h3,
.text-black h4,
.text-black h5,
.text-black a {
    color: #1f1f1f
}

.text-grey,
.text-grey h1,
.text-grey h2,
.text-grey h3,
.text-grey h4,
.text-grey h5,
.text-grey h6,
.text-grey a {
    color: #9e9e9e
}

.text-blue,
.text-blue h1,
.text-blue h2,
.text-blue h3,
.text-blue h4,
.text-blue h5,
.text-blue h6,
.text-blue a {
    color: #0031cf
}

a,
.post-wrap:hover .post-title a,
.accordion-style-1 .panel-title a:before,
.accordion-style-2 .panel-title a:before,
.box-icon .glyph-item {
    color: #0031cf
}


/* ===1.2 Typography=== */

.amp {
    font-family: Baskerville, 'Goudy Old Style', Palatino, 'Book Antiqua', serif;
    font-style: italic;
    font-weight: normal;
}

.text-transparent {
    opacity: 0.4;
}

.vertical-text {
    transform: rotate(90deg);
    transform-origin: left top 0;
}

.title-image-bg {
    background: url(../images/travel/location-big-5.jpg) top left no-repeat;
    background-size: 200% 200%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-title {
    font-size: 3.5rem;
    margin-bottom: 2rem;
}

.title-line:after {
    content: '';
    width: 7%;
    height: 2px;
    display: block;
    clear: both;
    margin-top: 0.233em;
    background: #ebebeb;
    color: #ffffff;
    margin-left: 0
}

.text-right.title-line:after,
.text-right .title-line:after {
    width: 7%;
    height: 2px;
    display: block;
    clear: both;
    margin-top: 0.233em;
    background: #ebebeb;
    color: #ffffff;
    margin-right: 0
}

.text-center.title-line:after,
.text-center .title-line:after {
    width: 7%;
    height: 2px;
    display: block;
    clear: both;
    margin-top: 0.233em;
    background: #ebebeb;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.subtitle {
    margin-top: -1rem;
    color: #9e9e9e;
    margin-bottom: 2rem
}


/* ===1.3Blockquote=== */

.blockquote-style-2:before {
    content: "\275e";
    color: #0031cf;
    font-size: 2rem;
    display: block;
}


/* ===1.4Images=== */

.circle-image {
    border-radius: 50%;
}

.alt-font {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif!important;
}

.alt-font-primary {
    font-family: 'Playfair Display', serif!important;
}

.grey-image img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    -webkit-transition: all .7s ease;
    -moz-transition: all .7s ease;
}

.brands img {
    width: 100%
}

.brands.grey-image img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


/* ===1.5 Forms=== */

.border-input {
    background: transparent;
    padding-left: 0;
    color: #fff;
    border-color: rgba(255, 255, 255, 0.5);
}

.form-white:focus {
    border-color: #fff;
    outline: none;
}

.form-white::-webkit-input-placeholder {
    color: #fff;
    opacity: 1;
}

.form-white::-moz-placeholder {
    color: #fff;
    opacity: 1;
}

.white-label label {
    color: #fff!important
}

.form-white:-ms-input-placeholder {
    color: #fff;
    opacity: 1;
}


/* ===1.6 Background Effect=== */

.bw-images img {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 1s -webkit-filter linear!important;
    transition: 1s filter linear;
}

.bw-images img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.saturate {
    -webkit-filter: saturate(200%);
    filter: saturate(200%);
}

.saturate:hover {
    -webkit-filter: saturate(100%);
    filter: saturate(100%);
}

.zoom-in-background {
    background-size: 100%!important;
    transition: 15s background-size linear;
}

.zoom-in-background:hover {
    background-size: 120%!important;
}

.zoom-out-background {
    background-size: 140%!important;
    transition: 15s background-size linear;
}

.zoom-out-background:hover {
    background-size: 100%!important;
}


/* ===1.7 Shadows=== */

.shadow {
    box-shadow: 2px 40px 70px rgba(0, 0, 0, 0.40), 0px 0px 1px rgba(0, 0, 0, 0.40);
}

.shadow-2 {
    box-shadow: 1px 20px 35px rgba(0, 0, 0, 0.20), 0px 0px 1px rgba(0, 0, 0, 0.20);
}

.shadow-3 {
    box-shadow: 2px 40px 70px rgba(0, 0, 0, 0.90), 0px 0px 1px rgba(0, 0, 0, 0.90);
}

.text-shadow {
    text-shadow: 1px 20px 40px rgba(0, 0, 0, 0.20), 0px 0px 0px rgba(0, 0, 0, 0.20);
}

.text-shadow-2 {
    text-shadow: 1px 20px 40px rgba(0, 0, 0, 0.90), 0px 0px 0px rgba(0, 0, 0, 0.90);
}


/* ===1.8 Zoom=== */

.hover-zoom {
    transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -ms-transition: all .5s ease-in;
    -o-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;
}

.hover-zoom-long {
    transition: all 20s ease-in;
    -moz-transition: all 20s ease-in;
    -ms-transition: all 20s ease-in;
    -o-transition: all 20s ease-in;
    -webkit-transition: all 20s ease-in;
}

.hover-zoom:hover {
    background-size: 150% 150%!important;
}

.zoom-hover {
    background: rgba(31, 31, 31, .7) url(../images/icons/magnifying-glass.svg) no-repeat center center;
    background-size: 1rem;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.zoom-hover-2 {
    background: rgba(31, 31, 31, .7) url(../images/icons/magnifying-glass.svg) no-repeat center;
    background-size: 2rem;
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    opacity: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}


/* ===1.9 Progress Bar=== */

.progress-title {
    font-size: 0.7rem;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    display: block;
}


/* ===1.10 Overlay=== */

.dark-overlay,
.light-overlay {
    position: relative;
}

.dark-overlay:before,
.light-overlay:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.dark-overlay:before {
    background-color: #000;
}

.light-overlay:before {
    background-color: #ffffff;
}

.overlay-opacity-80:before {
    opacity: 0.8;
}

.overlay-opacity-60:before {
    opacity: 0.6;
}

.overlay-opacity-40:before {
    opacity: 0.4;
}

.overlay-opacity-20:before {
    opacity: 0.2;
}

.image-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0;
    -webkit-transition: opacity .7s ease;
    -moz-transition: opacity .7s ease;
}

a .image-overlay-content {
    color: #9e9e9e!important
}

.image-overlay-content {
    bottom: 0;
    position: absolute;
    margin: 0 0 30px 30px
}

.image-overlay h5 {
    margin-bottom: 0;
}

#albums-carousel .image-overlay {
    left: inherit;
    text-align: center;
}

#albums-carousel .image-overlay-content {
    bottom: inherit;
    margin: 0 auto;
    width: 90%;
}

#albums-carousel .play-btn {
    margin: 160px auto 0 auto!important;
    padding-top: 14px!important;
}

.grid-item:hover .image-overlay,
#albums-carousel .item:hover .image-overlay {
    opacity: 0.8
}

.restaurant-gallery .grid-item:hover .zoom-hover,
.item:hover .zoom-hover {
    opacity: 1;
}

.grid-2 .grid-item:hover .zoom-hover-2 {
    opacity: 1;
}


/* ===1.11 Gaps, Margin and Padding=== */

.gap-15 {
    height: 15px
}

.gap-30 {
    height: 30px
}

.gap-45 {
    height: 45px
}

.gap-60 {
    height: 60px
}

.gap-90 {
    height: 90px
}

.gap-120 {
    height: 120px
}

.margin-15 {
    margin-bottom: 15px
}

.margin-30 {
    margin-bottom: 30px
}

.margin-45 {
    margin-bottom: 45px
}

.margin-60 {
    margin-bottom: 60px
}

.margin-90 {
    margin-bottom: 90px
}

.margin-120 {
    margin-bottom: 120px
}

.no-margin {
    margin-bottom: 0px!important;
}

.padding-15 {
    padding-bottom: 15px
}

.padding-30 {
    padding-bottom: 30px
}

.padding-45 {
    padding-bottom: 45px
}

.padding-60 {
    padding-bottom: 60px
}

.padding-90 {
    padding-bottom: 90px
}

.padding-120 {
    padding-bottom: 120px
}

.no-padding {
    padding-bottom: 0px!important;
}


/* ===1.12 Icons=== */

.icon-primary {
    background: #0031cf!important;
    color: #fff!important
}

.icon-secondary {
    border-color: #1f1f1f!important;
    background: #1f1f1f!important;
    color: #fff!important
}

span.icon-circle {
    display: block;
    font-size: 2rem;
    border-radius: 50%;
    background: #ebebeb;
    color: #1f1f1f;
    width: 90px;
    height: 90px;
    padding-top: 1.7rem;
    text-align: center;
}

span.icon-round {
    display: block;
    font-size: 2rem;
    padding-top: 1.7rem;
    text-align: center;
    border-radius: 2rem;
    background: #ebebeb;
    color: #1f1f1f;
    width: 90px;
    height: 90px;
}

span.icon-round.icon-xs {
    border-radius: .5rem;
}

span.icon-square {
    display: block;
    font-size: 2rem;
    padding-top: 1.7rem;
    text-align: center;
    background: #ebebeb;
    color: #1f1f1f;
    width: 90px;
    height: 90px;
}

.icon-border {
    border: 1px solid #ebebeb;
    background: transparent!important;
}

.icon-primary.icon-border {
    color: #0031cf!important
}

.icon-secondary.icon-border {
    color: #1f1f1f!important
}

.icon-xs {
    padding-top: 1rem!important;
    width: 45px!important;
    height: 45px!important;
    font-size: .8rem!important;
}

.icon-sm {
    padding-top: 1.5rem!important;
    width: 70px!important;
    height: 70px!important;
    font-size: 1.2rem!important;
}

.icon-md {
    padding-top: 1.7rem;
    width: 90px;
    height: 90px;
    font-size: 2rem;
}

.icon-lg {
    padding-top: 1.6rem!important;
    width: 120px!important;
    height: 120px!important;
    font-size: 4rem!important;
}

.icon-showcase-wrap {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
}

.icon-showcase span {
    font-size: 2rem;
    color: #1f1f1f;
}

.icon-showcase:hover span {
    color: #0031cf;
}

.grid-showcase div[class^="col"] {
    background: #ebebeb;
    text-align: center;
    padding: 2rem 1rem;
    border: .5rem solid #fff
}

.icon-24 {
    font-size: 24px;
}

.box-icon {
    margin-bottom: 2rem;
}

.no-margin-bottom {
    margin-bottom: 0
}

.box-icon h5 {
    margin: 1rem 0;
    letter-spacing: 0;
}

.box-icon h4 {
    font-size: 1.2rem;
}

a.social-media-1 {
    border: 1px solid #ebebeb;
    padding: 2rem;
    color: #1f1f1f;
    display: block;
    text-align: center;
    cursor: pointer;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.social-media-1 i {
    font-size: 1.7rem;
    display: block;
    margin: 0 auto 1rem;
}

a.social-media-1:hover {
    border-color: #1f1f1f;
}

.social-media-2-wrap {
    width: 100%;
    overflow: hidden;
}

ul.social-media-2 {
    list-style: none;
    position: relative;
    float: left;
    display: block;
    left: 50%;
    margin: 0;
    padding: 0;
}

ul.social-media-2 li {
    padding: 0;
    margin: 0;
    position: relative;
    float: left;
    display: block;
    right: 50%;
}

ul.social-media-2 li a {
    margin: 0 1.8rem;
}


/* ===1.13 List=== */

ul.list-style-1 {
    padding: 0;
    margin: 1rem 0;
}

ul.list-style-1 li {
    list-style: none;
    padding: 0.25rem 0;
}


/* 2. Backgrounds
   ----------------------------- */


/* ===2.1 Index-1=== */

.body-background-1 {
    background: url(../images/backgrounds/bg-15.jpg) repeat
}

.first-half,
.second-half {
    width: 50%;
    min-height: 100%;
    position: absolute;
    overflow: hidden;
    z-index: 1;
    top: 0;
}

.first-half {
    background: #f8f8f8;
}

.second-half {
    left: 50%;
    background: #0027a7;
}

.first-half:before {
    content: '';
    position: absolute;
    background-color: #0031cf;
    width: 100%;
    bottom: 0;
    -webkit-animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
    animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
}

.second-half:before {
    content: '';
    position: absolute;
    background: #333;
    width: 100%;
    bottom: 0;
    -webkit-animation: wipe-reverse 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
    animation: wipe-reverse 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
}

.two-halfs {
    content: '';
    position: absolute;
    background: url(../images/backgrounds/bg-3.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    bottom: 0;
    -webkit-animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
    animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
}


/* ===2.2 Index-3=== */

.second-half.hotel:before {
    content: '';
    position: absolute;
    background: url(../images/bg-5.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    bottom: 0;
    -webkit-animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
    animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
}

.first-half.hotel:before {
    content: '';
    position: absolute;
    background: #1f1f1f;
    width: 100%;
    bottom: 0;
    -webkit-animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
    animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
}


/* ===2.3 Index-4=== */

.first-half-4:before {
    content: '';
    position: absolute;
    background: url(../images/backgrounds/bg-4.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    bottom: 0;
    -webkit-animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
    animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
}

.second-half-4 {
    left: 50%;
    background: #2d2926;
}


/* ===2.4 Index-5=== */

.first-half-5:before {
    content: '';
    position: absolute;
    background: #fff;
    width: 100%;
    bottom: 0;
    -webkit-animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
    animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
}

.second-half-5 {
    background: #ebebeb url(../images/backgrounds/bg-5.png) repeat;
}


/* ===2.5 Index-6=== */

.first-half-6:before {
    content: '';
    position: absolute;
    background: url(../images/backgrounds/bg-7.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    bottom: 0;
    -webkit-animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
    animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
}

.second-half-6 {
    left: 50%;
    background: #090e12;
}


/* ===2.6 Index-8=== */

.first-half-8:before {
    content: '';
    position: absolute;
    background: url(../images/backgrounds/bg-8.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    bottom: 0;
    -webkit-animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
    animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
}

.second-half-8 {
    left: 50%;
    background: #080808;
}


/* ===2.7 Index-9=== */

.first-half-9:before {
    content: '';
    position: absolute;
    background: url(../images/backgrounds/bg-9.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    bottom: 0;
    -webkit-animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
    animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
}

.second-half-9 {
    left: 50%;
    background: #080808;
}


/* ===2.8 Index-12=== */

.first-half-12:before {
    content: '';
    position: absolute;
    background: url(../images/backgrounds/bg-12.jpg) repeat center center fixed;
    background-size: cover;
    width: 100%;
    bottom: 0;
    -webkit-animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
    animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
}

.second-half-12 {
    left: 50%;
    background: #080808;
}


/* ===2.9 Index-13=== */

.first-half-13:before {
    content: '';
    position: absolute;
    background: url(../images/backgrounds/bg-7.jpg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    bottom: 0;
    -webkit-animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
    animation: wipe 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
}

.second-half-13:before {
    content: '';
    position: absolute;
    background: #333;
    width: 100%;
    bottom: 0;
    -webkit-animation: wipe-reverse 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
    animation: wipe-reverse 0.7s cubic-bezier(.2, .6, .8, .4) forwards;
}


/* ===2.10 Index-16=== */

.first-half-16 {
    width: 30%
}

.first-half-16:before {
    background: #313038;
}

.second-half-16 {
    left: 30%;
    width: 70%;
    background: #1d1c21;
}


/* ===2.11 Background Animation=== */

@-webkit-keyframes wipe {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@keyframes wipe {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}

@-webkit-keyframes wipe-reverse {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}

@keyframes wipe-reverse {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}


/* 3. Elements
   ----------------------------- */


/* ===3.1 Basic=== */

html,
body {
    min-height: 100%;
    position: relative;
    -webkit-font-smoothing: antialiased;
}


/* ===3.2 Header=== */

.header {
    -webkit-transition: all 0.7s cubic-bezier(0.895, 0.030, 0.685, 0.220);
    -moz-transition: all 0.7s cubic-bezier(0.895, 0.030, 0.685, 0.220);
    -o-transition: all 0.7s cubic-bezier(0.895, 0.030, 0.685, 0.220);
    transition: all 0.7s cubic-bezier(0.895, 0.030, 0.685, 0.220);
    position: fixed;
    left: 0;
    width: 100%;
    color: #fff;
    z-index: 999999;
    margin-top: 0;
    bottom: auto;
    top: 0;
    margin-top: 0;
    padding: 0 5%
}

@media (max-width: 47.9em) {
    .header {
        padding: 0 1rem;
    }
}

.header.fixed {
    bottom: auto;
    top: 0;
    margin-top: 0;
    position: fixed;
}


/* ===3.3 Container Wrap=== */

.container-wrap-background {
    background: #fff;
    box-shadow: 2px 40px 70px rgba(0, 0, 0, 0.40), 0px 0px 1px rgba(0, 0, 0, 0.40);
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 70vh;
    z-index: 9999;
}

.container-wrap-background > * {
    z-index: 100;
    position: relative;
}

.container-shadow-2 {
    box-shadow: 2px 40px 70px rgba(0, 0, 0, 0.10), 0px 0px 1px rgba(0, 0, 0, 0.10);
}

.round-container {
    border-radius: 1rem;
}

.pill-container {
    border-radius: 400px;
}

.container-wrap-background-overlay {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.5;
}

.container-wrap {
    padding: 5%;
    margin: auto;
}

.container-wrap:before,
.container-wrap:after {
    display: table;
    content: " ";
}

.container-wrap:after {
    clear: both;
}

.container-wrap * {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}


/* ===3.4 Vertical Center=== */

.vertical-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/* ===3.5 Feature Box=== */

.feature-box {
    padding: 60px;
    color: #fff;
    background: #000;
}

.feature-box .subtitle {
    margin-top: 0;
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: .7rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.7);
}

.feature-box h3 {
    color: #fff
}


/* ===3.6 Grid=== */

.grid-menu img {
    margin-bottom: 1rem
}

.grid-menu {
    padding: 3rem;
    border: 0px solid #1f1f1f;
}

.grid-menu h6 {
    color: #9e9e9e
}

.grid-brands img {
    margin-bottom: 1rem
}

.grid-brands {
    padding: 3rem;
    border: 0px solid #ebebeb;
}

.grid-brands:hover {
    border-color: #fff!important;
    box-shadow: 1px 20px 35px rgba(0, 0, 0, 0.10), 0px 0px 1px rgba(0, 0, 0, 0.10);
}


/* ===3.7 Brands=== */

.brands img {
    width: 100%
}

.brands.grey-image img:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}


/* ===3.8 Team=== */

.team-name {
    margin-bottom: 0
}

.team-position {
    color: #9e9e9e;
    margin-bottom: 1rem;
}

.team-social a {
    margin-right: .5rem;
    color: #9e9e9e
}

.team-social a:hover {
    color: #1f1f1f
}

.team-style-2 .team-name {
    margin-top: 1rem
}

.team-style-5 .image-overlay {
    background: #5beaea;
}

.team-style-5 .team-name,
.team-style-5 .team-position {
    color: #1f1f1f
}

.team-style-5 .team-social a {
    color: #2aabab
}

.single-member:hover .image-overlay {
    opacity: 0.8!important;
    z-index: 100
}


/* ===3.9 Steps=== */

.steps .step-number {
    font-size: 6rem;
    color: #ebebeb;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-weight: 900;
}


/* ===3.10 Service Box=== */

.service-box {
    padding: 90px 0;
}

.service-box p,
.service-box h4,
.service-box span {
    z-index: 100;
    position: relative;
}

.service-box-border {
    position: relative;
}

.service-box-border:before {
    border: 1px solid rgba(255, 255, 255, 0.40);
    content: "";
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.service-box:hover.service-box-border:before {
    border: 1px solid rgba(255, 255, 255, 1);
}

.services {
    min-height: 575px;
    margin: -3rem 3rem -3rem -3rem;
}

.service-box-2 {
    border-bottom: 1px solid #ebebeb;
}

.service-box-2 div {
    border-right: 1px solid #ebebeb;
    padding: 3rem!important;
}

.service-box-2 div:last-child {
    border-right: 0 none;
}


/* ===3.11 Animation=== */

.infinite {
    animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    animation-duration: 2.5s!important;
}

.shape-line {
    height: 70px;
    margin: 3rem
}

.shape-line:after {
    display: block;
    margin: 0 auto;
    width: 2px;
    height: 20px;
    background-color: #fff;
    content: "";
    transition: height 1s;
}

.section:hover .shape-line:after {
    height: 100%;
}


/* ===3.12 Tabs=== */

.tabs-icons {
    width: 100%;
    text-align: center;
}

.tabs-icons:before,
.tabs-icons:after {
    display: table;
    content: " ";
}

.tabs-icons:after {
    clear: both;
}

.tabs-icons .nav-item {
    border-right: 1px solid #ebebeb;
    padding: .5rem 2.4rem;
    float: none;
    display: inline-block;
}

.tabs-icons .nav-item:last-child {
    border-right: 0 none;
}

.tabs-icons .nav-link {
    text-transform: uppercase;
    font-size: .7rem;
    letter-spacing: .1rem;
    color: #1f1f1f;
    opacity: 0.4;
}

.tabs-icons .nav-link.active,
.tabs-icons .nav-link:hover {
    opacity: 1;
}

.tabs-icons .nav-item img {
    display: block;
    margin-bottom: 1rem;
}

.restaurant-menu-content.tab-content {
    padding: 3rem 0
}

.restaurant-menu {
    list-style: none;
    margin: 0 0 2rem;
    padding: 0;
}

.restaurant-menu li {
    clear: both;
    margin: 0;
    padding: 0 0 4rem 0;
    position: relative;
    border-bottom: dotted 1px #9e9e9e;
}

.restaurant-menu h5 {
    background: #fff;
    padding: 0 10px 0 0;
    font-weight: normal;
    position: absolute;
    bottom: -.7rem;
    left: 0;
}

.restaurant-menu .price {
    background: #fff;
    padding: 0 0 0 5px;
    position: absolute;
    bottom: -.2rem;
    right: 0;
}

.restaurant-menu sup {
    font-size: .6rem;
    margin-left: 3px;
}

.restaurant-menu .ingredients {
    position: absolute;
    bottom: -1.5rem;
    font-size: .7rem;
    color: #9e9e9e;
    width: 100%;
}

.restaurant-menu .calories {
    right: 0;
    top: 0;
    position: absolute;
}

.icon-tab-big {
    font-size: 3rem;
    display: block;
    margin-bottom: 1rem
}


/* ===3.13 Pricing=== */

.pricing {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto 3em;
}

.pricing-item {
    position: relative;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: stretch;
    align-items: stretch;
    text-align: center;
    -webkit-flex: 0 1 270px;
    flex: 0 1 270px;
}

.pricing-item .pricing-feature-list {
    text-align: left;
}

.pricing-item {
    margin: 1em;
    padding: 2em;
    border: 1px solid #ebebeb
}

.pricing.pricing-dark .pricing-item,
.pricing.pricing-dark .pricing-item h3.pricing-price,
.pricing.pricing-dark .pricing-item .pricing-sentence {
    border-color: rgba(255, 255, 255, 0.3);
    transition: box-shadow 0.3s ease-in-out;
}

.pricing-item:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.10);
}

.pricing.pricing-dark .pricing-item:hover {
    border-color: rgba(0, 0, 0, 0.9);
    background-color: rgba(0, 0, 0, 0.4);
}

.pricing-item h5 {
    font-size: 0.7em;
    margin: 0 0 1em;
    letter-spacing: 3px
}

.pricing-item h3.pricing-price {
    font-size: 4em;
    padding: 0.5em 0 0.75em;
    border-top: 1px solid #ebebeb;
}

.pricing-item .pricing-currency {
    font-size: 0.5em;
    vertical-align: super;
}

.pricing-item .pricing-time {
    font-size: 0.3em;
    color: #9e9e9e;
}

.pricing-item .pricing-sentence {
    font-weight: bold;
    padding: 1em 0 1em;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.pricing-item .pricing-feature {
    padding: 0.2rem 0
}

.pricing-item .pricing-feature-list {
    margin: 0;
    padding: 0.25em 0 2.5em;
    list-style: none;
    text-align: center;
}

.pricing-item .pricing-item .btn {
    margin-top: auto;
}

.pricing-item-2 {
    margin: 1em 0;
    padding: 2em;
    background: #fff;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.10);
    transition: box-shadow 0.3s ease-in-out;
    text-align: center;
    border-radius: .5rem;
}

.pricing-item-2:hover {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.05);
}

.pricing-item-2 h5 {
    color: #9e9e9e;
    font-size: .6rem;
}

.pricing-item-2 h5:after {
    content: '';
    width: 30%;
    height: 1px;
    display: block;
    clear: both;
    margin-top: 0.5rem;
    background: #ebebeb;
    color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

.pricing-item-2 h3.pricing-price {
    font-size: 4rem;
    padding: 0.3em 0;
}

.pricing-item-2 .pricing-currency {
    font-size: 2rem;
    color: #9e9e9e;
    vertical-align: super;
}

.pricing-item-2 .pricing-time {
    font-size: .7rem;
    color: #9e9e9e;
    display: block;
}

.pricing-item-2 .pricing-feature-list {
    margin: 0;
    padding: 0.25em 0 2.5em;
    list-style: none;
}


/* ===3.14 Blog=== */

.post-img {
    margin-top: 1rem;
}

.single-post-img {
    max-height: 600px;
    overflow: hidden;
}

.post-wrap:hover .post-img {
    opacity: 0.8;
}

.post-wrap.shadow {
    box-shadow: 2px 40px 70px rgba(0, 0, 0, 0.10), 0px 0px 1px rgba(0, 0, 0, 0.10);
    transition: box-shadow 0.3s ease-in-out;
    background: #fff;
}

.post-wrap.shadow:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10), 0px 0px 1px rgba(0, 0, 0, 0.10);
}

.post-title {
    margin: 0 0 1rem 0;
    font-weight: 300;
}

.post-title a,
.post-info a {
    color: #1f1f1f;
}

.post-info {
    font-size: 0.6rem;
    letter-spacing: .05rem;
    text-transform: uppercase;
    color: #9e9e9e;
    margin: 1rem 0;
}

.post-text {
    margin: 1rem 0;
}

.post-text p:first-child:first-letter {
    color: #1f1f1f;
    font-size: 4em;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    float: left;
    margin: 0 1rem 0.5rem 0;
    line-height: 1;
}

.post-more {}

.post-more .btn {
    border-width: 0 0 1px 0;
    border-color: #ebebeb;
    padding: 0 0 2px 0;
}

.post-more .btn:hover {
    border-color: #1f1f1f;
}

.comments-area {
    margin: 3rem 0 0 0;
}

.comment-list + .comment-respond,
.comment-navigation + .comment-respond {
    padding-top: 1rem;
}

.comment-list {
    list-style: none;
    margin: 0;
    padding: 0
}

.comment-list article {
    border-bottom: 1px solid #ebebeb;
    padding: 2rem 0;
}

.comment-list .children {
    list-style: none;
    margin: 0;
}

.comment-list .children > li {
    padding-left: 1rem;
}

.comment-author {
    margin-bottom: 0.5rem;
}

.comment-author a {
    color: #1f1f1f;
}

.comment-author .avatar {
    float: left;
    height: 60px;
    margin-right: 1rem;
    position: relative;
    width: 60px;
}

.comment-metadata {
    color: #9e9e9e;
    font-size: 0.8em;
}
.Blog-BigCaption {
    color: #1f1f1f!important;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left
}

.tp-caption.Blog-SmallCaption {
    color: #9e9e9e!important;
    letter-spacing: .4rem;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left
}

/* ===3.15 Portfolio=== */

.category,
a .category {
    color: #9e9e9e;
    font-size: .7em;
}

h5.portfolio-title {
    margin-top: .7rem;
    margin-bottom: 0rem;
}


/* ===3.16 Login Box === */

.login-container {
    background: #fff;
    box-shadow: 2px 40px 70px rgba(0, 0, 0, 0.40), 0px 0px 1px rgba(0, 0, 0, 0.40);
    padding: 4rem 2rem;
    width: 450px;
    margin: 0 auto;
}

.login-container h2 {
    border-bottom: 1px solid #ebebeb;
    margin: 0 -2rem;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

.login-container form {
    margin-bottom: 2rem;
}

.login-container a {
    color: #1f1f1f
}


/* 4. SIDEBAR
   ----------------------------- */

.widget {
    margin-bottom: 3rem;
}

.widget .pull-left {
    margin: 0 1rem 1rem 0;
}

.widget .pull-right {
    margin: 0 0 1rem 1rem;
}

.widget-title {
    margin-bottom: 1rem;
    padding-bottom: .25rem;
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 700;
    color: #1f1f1f;
    border-bottom: 1px solid #ebebeb;
}

.widget-body {}

.widget-text {}


/* ===4.1 Search Widget=== */

.search-wrap {}

.search-field {
    width: 100% !important;
}


/* ===4.2 Menu Widget=== */

.widget-menu {}

.widget-menu li {
    padding: 5px 0;
    list-style: none;
}

.widget-menu {
    padding-left: 0!important
}

.widget-menu li:before {
    content: '\e762';
    color: #0031cf;
    font-family: entypo;
    font-style: normal;
    font-size: 1rem;
    display: inline-block;
    width: 1.1em;
    margin-right: .1em;
}

.widget-menu li a {
    color: #555;
    text-decoration: none;
    padding-bottom: 2px;
    text-decoration: none;
    border-bottom: 1px solid transparent;
}

.widget-menu li a:hover,
.widget-menu li a.active {
    color: #999;
}

.widget-menu li small {
    font-size: 11px;
    color: #aaa;
}


/* ===4.3 Tags Widget=== */

.tags a {
    display: inline-block;
    margin: 0 .2rem .5rem 0;
    padding: .5rem 1rem;
    border: 1px solid #ebebeb;
    border-radius: 2rem;
    color: #1f1f1f;
    font-size: .6rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.tags a:hover {
    text-decoration: none;
    border-color: #333;
    color: #111;
}


/* ===4.4 Comments=== */

.widget-comments {
    color: #9e9e9e;
    font-size: .8rem;
    margin: 0;
    padding: 0
}

.widget-comments li {
    padding: .5rem 0;
    border-bottom: 1px dotted #ebebeb;
    list-style: none;
}

.widget-comments li:before {
    content: '\e718';
    color: #0031cf;
    font-family: entypo;
    font-style: normal;
    font-size: 1rem;
    display: inline-block;
    width: 1.1em;
    margin-right: .1em;
}

.widget-comments li a {
    color: #1f1f1f;
    text-decoration: none;
}

.widget-comments li a:hover {
    color: #9e9e9e;
}


/* ===4.5 Posts=== */

.widget-posts {
    margin: 0;
    padding: 0;
}

.widget-posts li {
    padding: 1rem 0;
    border-bottom: 1px solid #ebebeb;
    list-style: none;
}

.widget-posts li:last-child {
    border-bottom: 1px solid #fff;
}

.widget-posts li a {
    font-size: .9rem;
    display: block;
    color: #1f1f1f;
}

.widget-posts li a:hover {
    color: #9e9e9e;
}

.widget-posts-img {
    float: left;
    margin: 0 1rem 0 0;
    width: 130px;
}

.widget-posts-img:hover {
    opacity: 0.8
}

.widget-posts-descr {
    color: #9e9e9e;
    font-size: .7rem;
}


/* 5. AGENCY
   ----------------------------- */

ul.project-tags {
    list-style: none;
    padding: 0;
    margin: 0 0 1rem 0
}

ul.project-tags li {
    display: inline-block;
    padding: .4rem .8rem;
    border-radius: 3rem;
    border: 1px solid #ebebeb;
    font-size: .7rem;
}

#main-slider-2.rev_slider ul li,
#main-slider-2.rev_slider >ul >li {
    border-radius: 1rem;
}


/* 6. HOTEL (index-3.html)
   ----------------------------- */

.Hotel-BigCaption {
    color: #1f1f1f!important;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left
}

.tp-caption.Hotel-SmallCaption {
    color: #9e9e9e!important;
    letter-spacing: .4rem;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left
}

.Hotel-BigCaption {
    color: #fff!important;
    font-weight: 400;
    font-style: normal;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left
}

.tp-caption.Hotel-SmallCaption {
    color: #fff!important;
    letter-spacing: .4rem;
    padding: 0 0 0 0px;
    text-decoration: none;
    background-color: transparent;
    border-color: transparent;
    border-style: none;
    border-width: 0px;
    border-radius: 0 0 0 0px;
    text-align: left
}

.hotel-slider.tparrows:before {
    font-family: "entypo";
    font-size: 2rem;
    color: #9e9e9e;
    display: block;
    line-height: 60px;
    text-align: center;
    -webkit-transition: color 0.3s;
    -moz-transition: color 0.3s;
    transition: color 0.3s;
    z-index: 2;
    position: relative;
}

.hotel-slider.tparrows.tp-leftarrow:before {
    content: "\e761";
}

.hotel-slider.tparrows.tp-rightarrow:before {
    content: "\e762";
}

.hotel-slider.tparrows {
    cursor: pointer;
    background: transparent;
    min-width: 60px;
    min-height: 60px;
    position: absolute;
    display: block;
    z-index: 100;
    border-radius: 50%;
}

.hotel-slider.tparrows:hover {
    background: transparent;
}

.hotel-slider.tparrows:hover:before {
    color: #fff;
}

.hotel-slider .tp-title-wrap {
    position: absolute;
    z-index: 1;
    display: inline-block;
    background: transparent;
    min-height: 60px;
    line-height: 60px;
    top: 0px;
    margin-left: 30px;
    border-radius: 0px 30px 30px 0px;
    overflow: hidden;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform-origin: 0% 50%;
    -webkit-transform-origin: 0% 50%;
}

.hotel-slider.tp-rightarrow .tp-title-wrap {
    right: 0px;
    margin-right: 30px;
    margin-left: 0px;
    -webkit-transform-origin: 100% 50%;
    border-radius: 30px 0px 0px 30px;
}

.hotel-slider.tparrows:hover .tp-title-wrap {
    transform: scaleX(1) scaleY(1);
    -webkit-transform: scaleX(1) scaleY(1);
}

.hotel-slider .tp-arr-titleholder {
    position: relative;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transform: translateX(100px);
    color: #fff;
    font-size: .7rem;
    line-height: 60px;
    white-space: nowrap;
    padding: 0px 10px;
    margin-left: 20px;
    opacity: 0;
}

.hotel-slider.tp-rightarrow .tp-arr-titleholder {
    transform: translateX(-200px);
    margin-left: 0px;
    margin-right: 20px;
}

.hotel-slider.tparrows:hover .tp-arr-titleholder {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transition-delay: 0.1s;
    opacity: 1;
}

.hotel-slider.tp-bullets {}

.hotel-slider.tp-bullets:before {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    padding: 10px;
    box-sizing: content-box;
}

.hotel-slider .tp-bullet {
    width: 8px;
    height: 8px;
    position: absolute;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    cursor: pointer;
    box-sizing: content-box;
}

.hotel-slider .tp-bullet:hover,
.hotel-slider .tp-bullet.selected {
    background: rgba(255, 255, 255, 1);
}

.book-table-button {
    bottom: 0;
    right: 0;
    margin: 0 1rem 1rem 0;
    position: absolute;
    z-index: 999999;
    box-sizing: content-box;
}

.book-table-button a {
    color: #fff;
    text-transform: uppercase;
    font-size: .7rem
}

.booking-form input {
    border: 0 transparent;
    background: #ebebeb;
    text-align: center;
    padding: 1.5rem 1.25rem;
}

.booking-form button {
    background: #1f1f1f;
    text-align: center!important;
    padding: 1.4rem 1.25rem;
}

.booking-form .btn span {
    padding: 0 .7rem;
}

::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1
}

::-webkit-calendar-picker-indicator::after {
    font-family: "entypo";
    font-size: 1rem;
    content: '📅';
    color: #9e9e9e;
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    margin-left: -2rem;
    margin-top: -.8rem;
    transform: translateX(-2%);
}

#hotel-food img {
    height: 571px;
}


/* 7. SHOP (index-8.html)
   ----------------------------- */

ul.products {
    list-style: none;
    margin: 0;
    padding: 0;
}

.product h4 {
    margin-top: 1rem;
    font-size: 1.2rem;
}

.product a .price {
    display: block;
    margin: .5rem 0;
    font-weight: 700;
    color: #1f1f1f;
}

#carousel-products .product {
    margin: 0 .5rem;
}

.product .btn {
    display: none;
}

.product:hover .btn {
    display: block
}

.product:hover .price {
    display: none;
}

.product a h6.category {
    letter-spacing: .1rem;
    color: #9e9e9e;
    font-size: .6rem;
}


/* 8. CONFERENCE (index-10.html)
   ----------------------------- */

.conf-schedule {
    padding: .6rem 0;
    border-bottom: 1px solid #ebebeb;
}

.conf-schedule:first-child {}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* 9. TRAVEL (index-12.html)
   ----------------------------- */

.col-md-3.travel-card,
.col-md-6.travel-card {
    margin: 0 1rem;
}

.travel-card {
    box-shadow: 2px 40px 70px rgba(0, 0, 0, 0.10), 0px 0px 1px rgba(0, 0, 0, 0.10);
    transition: box-shadow 0.3s ease-in-out;
    border: 0 none;
    padding: 0 0 1rem 0;
    background: #fff;
}

.travel-card:hover {
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10), 0px 0px 1px rgba(0, 0, 0, 0.10);
}

.travel-links a {
    color: #fff;
    font-size: .6rem;
    margin: 0 30px;
    text-transform: uppercase;
    letter-spacing: 4px
}

.travel-links a:hover {
    opacity: 0.5;
}

.travel-stars .icon-entypo-star {
    font-size: 13px;
    color: #ffcc00;
    margin-bottom: 1rem
}

.travel-card a .price {
    color: #1f1f1f;
    font-size: .7em;
    text-transform: uppercase;
    letter-spacing: 1px;
    border-radius: 30px;
    background: #ebebeb;
    padding: .5rem 2rem;
}


/* 10. DJ (index-14.html)
   ----------------------------- */

.album-cover-cd {
    background: url(../images/dj/album-cover-cd.png) no-repeat top center;
    background-size: cover;
    padding: 56px 10px 10px 10px;
    margin-bottom: 1rem
}

#albums-carousel .item {
    margin: 0 1rem
}


/* 11. Events (index-15.html)
   ----------------------------- */

.event {
    padding: .6rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.event:first-child {
    border-top: 1px solid rgba(255, 255, 255, 0.3)
}


/* 12. FITNESS (index-16.html)
   ----------------------------- */

.fitness-classes {
    margin-bottom: -3rem;
    background: #0031cf;
    padding: 0;
    position: relative;
    bottom: 0
}

.fitness-classes h2 {
    font-size: 3rem
}

.fitness-classes h2,
.fitness-classes h5 {
    color: #fff
}

.fitness-classes h5 {
    font-size: .6rem
}

@keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes flickerAnimation {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate-flicker {
    -webkit-animation: flickerAnimation 1s infinite;
    -moz-animation: flickerAnimation 1s infinite;
    -o-animation: flickerAnimation 1s infinite;
    animation: flickerAnimation 1s infinite;
}


/* 13. FOOTER
   ----------------------------- */

.footer-2 h6 {
    color: #9e9e9e;
    font-size: .6rem;
    margin-bottom: 1rem;
}

.footer-2 ul {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
}

.footer-2 li {
    padding: .4rem;
}

.footer-2 a {
    color: #1f1f1f
}

.footer-2 .col-md-2,
.footer-2 .col-md-3,
.footer-2 .col-md-4,
.footer-2 .col-md-5,
.footer-2 .col-md-6 {
    border-right: 1px solid #ebebeb;
}

.footer-2 .col-md-2:last-child,
.footer-2 .col-md-3:last-child,
.footer-2 .col-md-4:last-child,
.footer-2 .col-md-5:last-child,
.footer-2 .col-md-6:last-child {
    border-right: 0 none;
}

.footer-dark-2 h6 {
    color: #9e9e9e;
    font-size: .6rem;
    margin-bottom: 1rem;
}

.footer-dark-2 ul {
    list-style: none;
    margin: 2rem 0;
    padding: 0;
}

.footer-dark-2 li {
    padding: .4rem;
}

.footer-dark-2 a {
    color: #fff
}

.footer-dark-2 .col-md-2,
.footer-dark-2 .col-md-3,
.footer-dark-2 .col-md-4,
.footer-dark-2 .col-md-5,
.footer-dark-2 .col-md-6 {
    border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.footer-dark-2 .col-md-2:last-child,
.footer-dark-2 .col-md-3:last-child,
.footer-dark-2 .col-md-4:last-child,
.footer-dark-2 .col-md-5:last-child,
.footer-dark-2 .col-md-6:last-child {
    border-right: 0 none;
}


/* 14. MISCELLANEOUS
   ----------------------------- */

.copyright {
    color: #9e9e9e;
    letter-spacing: .5rem;
    text-transform: uppercase;
    text-align: center;
    font-size: .6rem;
    bottom: 1rem;
    width: 100%;
    position: static;
}


/* 15. DEMO
   ----------------------------- */

.demo-filter a {
    color: #9e9e9e!important;
}

.demo-grid .grid-item {
    border-radius: .5rem;
    padding: 4rem 3rem 3rem 3rem;
    text-align: center;
    transition: background 0.7s ease!important;
    transition: color 0.6s ease;
}

.demo-grid .grid-item a h6 {
    color: #9e9e9e!important;
    margin-top: -1.5rem
}

.demo-grid .grid-item:hover {
    color: #fff!important;
    background: #1f1f1f
}


/* 16. RESPONSIVE
   ----------------------------- */

@media (max-width: 34em) {
    .grid-menu {
        padding: 3rem;
        border: 1px solid #333!important;
    }
}

@media (max-width: 48em) {

    .container-fluid {
        padding: 0rem;
    }
    .container-wrap-background {
        padding: 2rem 1rem;
    }
    .container-wrap {
        padding: 15px 5%!important;
    }
    .navbar-light {
        background: #000;
        padding: 15px;
    }
    .navbar-dark {
        background: #fff;
        padding: 15px;
    }
    .navbar-dark .navbar-nav,
    .navbar-dark .navbar-toggleable-xs.collapse.in {
        background: #fff
    }
    .section-title {
        font-size: 2.5rem!important;
        margin-bottom: 1rem;
    }
    h6,
    .h6 {
        letter-spacing: 0.4rem;
    }
    .display-1 {
        font-size: 2rem;
        line-height: 2rem;
    }
    .display-2 {
        font-size: 2.2rem;
    }
    .display-3 {
        font-size: 2.5rem;
    }
    .display-4 {
        font-size: 2.7rem;
    }
    .text-xs-left {
        text-align: left;
    }
    .text-xs-right {
        text-align: right;
    }
    .text-xs-center {
        text-align: center;
    }
    .xs-hide {
        display: none;
    }
    .xs-margin-0 {
        margin: 0!important
    }
    .xs-margin-15 {
        margin-bottom: 15px!important;
    }
    .xs-margin-30 {
        margin-bottom: 30px!important;
    }
    .xs-margin-60 {
        margin-bottom: 60px!important;
    }
    .xs-center-block {
        display: block!important;
        margin-right: auto;
        float: none!important;
        margin-left: auto;
    }
    .row-eq-height {
        display: block;
    }
    ul.tabs-icons img {
        display: none!important
    }
    ul.tabs-icons li.nav-item {
        border-width: 0 0 1px 0;
        margin: 0;
    }
    .grid-sizer,
    .grid-item {
        width: 100%!important;
    }
    .isotope-filters a {
        font-size: .9em!important;
    }
    .restaurant-gallery .grid-item,
    .restaurant-gallery .grid-item--width2 {
        width: 100%!important;
    }
    .category,
    a .category {
        font-size: 1em;
    }
    .demo-grid .grid-item a h6 {
        margin-top: 0rem;
    }
    .demo-grid .grid-item {
        padding: 1rem;
    }
    .dropdown-menu {
        margin-left: -15px;
        width: 100%;
        margin-top: 1px;
    }

    .social-media-1 span {
        display: none;
    }
    .social-media-1 {
        width: 50%;
        height: 0;
        padding-bottom: 50%;
    }
    .social-media-1 i {
        margin-top: -1.4rem;
        margin-left: -1rem;
    }
    .service-box-2 {
        border: 0 none!important;
    }
    .service-box-2 div {
        border: 1px solid #ebebeb;
        padding: 2rem!important;
        margin-bottom: 1rem;
    }
    .nav-tabs-style-2 .nav-item {
        margin-bottom: 1rem;
        width: 100%;
        float: left;
    }
    .nav-tabs-style-2 .nav-link {
        padding: 1rem;
        text-align: center;
    }
    .grid-brands {
        padding: 0rem;
        border: 1px solid #ebebeb;
    }
    .card-block {
        padding: .5rem;
    }
    .feature-box {
        padding: 1rem;
    }
    .xs-no-background {
        background: #fff!important;
    }
    .footer-2 .col-md-2,
    .footer-2 .col-md-3,
    .footer-2 .col-md-4,
    .footer-2 .col-md-5,
    .footer-2 .col-md-6 {
        border-right: 0 none;
        border-bottom: 1px solid #ebebeb;
    }
    .footer-dark-2 .col-md-2,
    .footer-dark-2 .col-md-3,
    .footer-dark-2 .col-md-4,
    .footer-dark-2 .col-md-5,
    .footer-dark-2 .col-md-6 {
        border-right: 0 none;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    }
    .col-md-3.travel-card,
    .col-md-6.travel-card {
        margin: 1rem 0!important
    }
    .login-container {
        margin: 0 1rem;
        width: auto;
    }
    .yamm .dropdown-menu {
    left: auto!important;
}

    li.nav-item {
    display: block;
    width: 100%;
    margin-left: 30px;
}

.project-tags li {
    margin-bottom: 15px;
}

.tabs-icons .nav-item {
    padding: .5rem 1rem;
}

.yamm .dropdown .dropdown-menu {
    left: 0;
    right: 0;
}

.collapsing {
    -webkit-transition: height .001s linear;
    -o-transition: height .001s linear;
    transition: height .001s linear;
}
.dropdown-menu {
    max-height: 200px!important;
    overflow: hidden;
    overflow-y: auto;

}
.grid-brands {
    border: 0 none!important;
}
.counter-style-2 {
    margin-bottom: -1px
}
}
@media (min-width: 48em) {
    .dropdown-menu {
    max-height: 1000px!important;
}


}

@media only screen and (max-device-width: 768px) and (orientation:portrait) {
  @media (min-width: 48em) {
.container {
    width: 41rem;
    max-width: 41rem;
}
}
}

@media only screen and (max-device-width: 1024px) and (orientation:landscape) {
@media (min-width: 62em) {
.container {
    width: 57rem;
    max-width: 57rem;
}
}
}